
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.adminList {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.table {
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    border: 2px solid #bcbcbc;
    background-color: whitesmoke!important;
}

.th {
    text-align: center;
    border: 2px solid #bcbcbc;
    background-color: whitesmoke!important;
}

.td {
    text-align: center;
    border: 2px solid #bcbcbc;
    background-color: whitesmoke!important;
}

.tbody {

    border: 2px solid #bcbcbc;
    background-color: whitesmoke!important;
}

.thead {

    border: 2px solid #bcbcbc;
    background-color: whitesmoke!important;
}

.tr {

    border: 1px solid #bcbcbc;
    background-color: whitesmoke!important;
}
