.airlist_container {
    width: 100%;
    display: grid;
    padding: 40px;
    grid-template-rows: 307px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 62px;
    border-left: solid 2px rgba(0,0,0,50%);
    
}

.item {
    display: flex;
    width: 356px;
    height: 307px;
    color : white;
}