.mainBody_drawer_on {
    width: calc(100% - 250px);
    margin-left: auto;
    background: #F5F5F5;
}

.mainBody_drawer_off {
    width: calc(100% - 250px);
    margin-left: auto;
    background: #F5F5F5;
}
