.container_title {
    padding: 30px;
    font-size: 18px;
    font-weight: 600;
}

.item {
    display: flex;
    width: 356px;
    height: 307px;
    
}

.div_spinner_air {
    text-align: center;
}
.spinner_air {
    animation: rotate_image 2s;
}




@keyframes rotate_image {
    100%{
        transform: rotate(360deg);
    }
}


.airlist_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    padding: 10px 78px;
}