.mainBody_drawer_on {
    width: calc(100% - 240px);
    margin-left: auto;
    background: #FAFAFA;
    padding-top:60px;
    z-index: -1;
}

.mainBody_drawer_off {
    top: 60px!important;
    padding-top: 50px;
    background: #FAFAFA;
    z-index: -1;
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Thin.otf)
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Light.otf)
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Regular.otf)
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Medium.otf)
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Bold.otf)
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    src: url(../font/Noto_Sans_KR/NotoSansKR-Black.otf)
}