.copyright {
    padding-left: 28px;
    font-size: 12px;
    line-height: 20px;
    height: 100px;
    vertical-align: sub;
}

.Linkto {
    width: 130px;
    height: 30px;
    padding: 5px 5px!important;
    margin-left: 28px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0,0,0,1);
    text-decoration: none;
}

.Linkto:hover {
    background-color: rgba(0,0,0,1);;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    color: white;
    transition:all .5s ease;
}