/* Section */
#section-2,
#section-3,
#section-4,
#section-5 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* border-bottom: 1px solid red; */
    padding: 0 5%;
}

/* Section-2 */
#section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-2 h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin-bottom: 2vw;
}

#section-2 h1 span {
    color: #EB0056;
    display: inline-block;
}

#section-2 p {
    margin-bottom: 1rem;
}

#section-2 ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 30px;
    width: 30rem;
    background: #fcfcfc;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#section-2 ul li {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px;
}

#section-2 ul li label {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 70px;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#section-2 ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#section-2 ul li label svg {
    font-size: 22px;
    margin-bottom: 10px;
}

#section-2 ul li label span {
    font-size: 12px;
    text-align: center;
}

#section-2 .md-icon {
    width: 38px;
}

.md-icon[title="Naver Selective"] {
    background-image: linear-gradient(transparent, transparent),url(https://im.pstatic.net/selective/img/sprite/sp_shopping_live15.svg);
    background-position: -385px 0px;
    border-radius: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 523px 391px;
    width: 44px!important;
    height: 38px;
    transform: scale(0.9);
}

.md-icon[title="Naver Now"] {
    display: block;
    content: "";
    background-position: -110px 0px;
    border-radius: 0;
    width: 88px!important;
    height: 36px;
    background-image: linear-gradient(transparent,transparent),url(https://now.naver.com/img/sp_now.7654aa02.svg);
    background-size: 380px 353px;
    transform: scale(0.8);
}

.md-icon[title="Kakao TV"] {
    display: inline-block;
    border-radius: 0;
    width: 101px!important;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    background: url(//img1.daumcdn.net/kakaotv/2016/pw/kakaotv_logo_200821.png) 0 -115px no-repeat;
    background-image: url(//img1.daumcdn.net/kakaotv/2016/pw/kakaotv_logo_200821.svg),none;
    transform: scale(0.7);
    vertical-align: top;
}

/* Section-3 */
#section-3 {
    text-align: center;
}

#section-3 #title {
    margin-top: 50px;
    text-align: -webkit-center;
    user-select: none;
    width: 100%;
}

#section-3 h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin-bottom: 2vw;
}
  
#section-3 h1 span {
    font-size : 2rem;
    color : #EB0056;
}

#section-3 p {
    margin-bottom: 1rem;
}

#section-3 .submit-btn {
    margin-top: 3vw;
    background: #000;
    color: #fff;
    font-size: 0.87777vw;
    letter-spacing: -0.0625vw;
    line-height: 2.5vw;
    width: auto;
    min-width: 4.125vw;
    height: 2.5vw;
    padding: 0 1.5625vw;
    border-radius: 2.083333333333333vw;
    cursor: pointer;
}

#section-3 ul li label {
    position: relative;
    cursor: pointer;
    height: 70px;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-3 #mini-search {
    height: 0;
}

#section-3 #mini-search .search_button{
    right: 2rem;
}

#section-3 ul > div {
    position: relative;
    cursor: pointer;
    width: 20vw;
    background: #fcfcfc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
}

#section-3 ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#section-3 ul li label span {
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}

.nav__platform {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 10rem;
}

.nav__search {
    position: relative;
}

.nav__platforms {
    display: flex;
    list-style: none;
}

.nav__platforms li {
    padding: 5px 20px;
    margin: 0px 5px;
}

.fab {
    font-size: 3rem;
}

.fa-youtube {
    color: red;
}

.fa-twitch {
    color: #9147ff;
}

.container__byplatform {
    display: flex;
    justify-content: center;
    margin: 20px 5px;
}

.container__streamer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 1%;
}

.container__streamer li:first-child {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container__streamer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width:33.3%;
}

.streamer__logo {
    padding: 0.5rem 0;
    width: 100%;
}

.streamer__logo img {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    z-index: 2;
}

.streamer__title {
    position: relative;
    border-left: none;
    border-radius: 0 25px 25px 0;
    font-size: 0.8rem;
    line-height: 0.9rem;
    transform: translateY(5px);
    z-index: 1;
}

/* .streamer__title:hover {
} */

#section-3 .md-icon {
    width: 55px;
}

/* Section-4 */
#section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-4 h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin-bottom: 2vw;
}

#section-4 h1 span {
    color: #EB0056;
    display: inline-block;
}

#section-4 p {
    margin-bottom: 1rem;
}

#section-4 ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 30px;
    width: 30rem;
    background: #fcfcfc;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);
}

#section-4 ul li {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px;
}

#section-4 ul li:nth-child(odd) {
    flex: inherit;
}

#section-4 ul li:nth-child(even) {
    display: flex;
}

#section-4 ul li:nth-child(even):after {
    content: "";
    display: table;
    clear: both;
}

#section-4 ul li label {
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#section-4 ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#section-4 ul li label svg {
    font-size: 22px;
    margin-bottom: 10px;
}

#section-4 ul li label span {
    font-size: 12px;
    text-align: center;
}

#section-4 .submit-btn {
    margin-top: 3vw;
    background: #000;
    color: #fff;
    font-size: 0.87777vw;
    letter-spacing: -0.0625vw;
    line-height: 2.5vw;
    width: auto;
    min-width: 4.125vw;
    height: 2.5vw;
    padding: 0 1.5625vw;
    border-radius: 2.083333333333333vw;
    cursor: pointer;
}

#section-4 .submit-btn:focus {
    outline: none;
}

/* Section-5 */
#section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

#section-5 h1 {
    font-size: 2.8rem;
    letter-spacing: -0.4px;
    margin-bottom: 2.25vw;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

#section-5 h4 {
    font-size: 1.45vw;
    font-weight: 500;
    letter-spacing: -0.4px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: 3.75vw;
    text-align: center;
}

#section-5 .start-btn {
    text-align: center;
}

#section-5 .start-btn a {
    display: inline-block;
    background-color: #fbb30f;
    color: #fff;
    font-size: 1.3888888888888888vw;
    font-weight: 700;
    letter-spacing: -0.0625vw;
    line-height: 4.166666666666666vw;
    width: auto;
    min-width: 13.125vw;
    height: 4.166666666666666vw;
    padding: 0 1.5625vw;
    border-radius: 2.083333333333333vw;
}