.review_container {
    z-index: 10;
    position: fixed;
    bottom: 70px;
    right: 70px;
    background: white;
    width: 40%;
    height: 45%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #606060;
}

.review_popupbutton {
    z-index: 10;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #f1f3f5;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

.review_popupbutton:hover .fas {
    color: #fbb30f;
}

.review_popupbutton .button_content{
    margin: auto;
}


.review_container .review_container_context {
    margin-bottom: 10px;
    text-align: center;

}

.review_container .review_container_context h2 {
    margin: 10px;
    font-size: 18px;
    color: #606060;
    font-weight: 600;
}

.review_container .review_container_context span {
    margin: 10px;
    font-size: 11px;
    color: #606060;
    font-weight: 700;
}

.review_container .review_form {
    height: calc(100% - 81px);
    padding: 10px;
}
.review_container .review_form .review_title {
    border: 1px solid #606060;
    position: relative;
    height: 30px;
    background: white;
    color: #606060;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.review_container .review_form .review_title .input_data{
    height: 100%;
    width: 100%
}

.review_container .review_form .review_title .input_data input{
    height: 100%;
    width: 100%
}

.review_container .review_form .review_title .input_data input::placeholder{
    font-size: 12px;
    padding-left: 5px;
}

.review_container .review_form .review_title .input_data input:focus{
    outline: none;
}

.review_container .review_form .review_email {
    border: 1px solid #606060;
    position: relative;
    height: 30px;
    background: white;
    color: #606060;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.review_container .review_form .review_email .input_data{
    height: 100%;
    width: 100%
}

.review_container .review_form .review_email .input_data input {
    height: 100%;
    width: 100%;
}

.review_container .review_form .review_email .input_data input::placeholder{
    font-size: 12px;
    padding-left: 5px;
}

.review_container .review_form .review_email .input_data input:focus{
    outline: none;
}

.review_container .review_form .review_message {
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 140px);
    background: white;
    color: #606060;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.review_container .review_form .review_message .input_data{
    height: 100%;
    width: 100%;
}

.review_container .review_form .review_message .input_data input{
    height: 100%;
    width: 100%;
}

.review_container .review_form .review_message .input_data input::placeholder{
    font-size: 14px;
    padding-left: 5px;
}

.review_container .review_form .review_message .input_data input:focus{
    outline: none;
}

.review_container .review_form .review_submit {
    width: 80px;
    height: 40px;
    background-color: white;
    border: 1px solid #606060;
}

.review_container .review_form .review_submit:hover {
    background-color: #fbb30f;
    border-color: white;
    color: white;
}
