.survey_container {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #fbb30f;
    font-weight: 700;
    font-size: 50px;
}

.survey_container .survey_title {
    width: 80vw;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.survey_container .survey_title .survey_title_item {

    text-align: center;
}

.survey_container .survey_contents {
    display: flex;
    height: 50vh;
}

.survey_container .survey_contents .survey_content {
    width: 33vw;
    margin: auto;
}

.survey_container .survey_contents .survey_content .survey_item {
    margin: auto;
    text-align: center;
    color: black;
}

.survey_container  .survey_category_items {
    display: flex;
}

.survey_container  .survey_live_items {
    display: flex;
}

.survey_container .survey_category_item_off{
    background: white;
}