.user_airlist_contanier {
    display: flex;
    flex-wrap: wrap;
}

.user_item {
    width: 150px;
    margin: 20px;
}

.user_list_container {
    text-align: center;
    margin-left: 50px;
}

.user_list_container .user_list_suboff a .user_list_airview_img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.user_list_container .user_list_title {
    font-size: 14px;
    margin: 5px;
}

.user_list_container .user_list_platform {
    font-size: 12px;
    margin: 5px;

}

.btn_block_off {
    width: 55px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
}

.btn_follow_off {
    width: 55px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;

}